.container {
    width: 100vw;
    background-color: #fff;
    padding-top: 36px ;
    display: grid;
    place-content: center;
    margin-bottom: 16px;

	@media only screen and (min-width: 500px) {
		width: 86vw;
	}

	@media only screen and (min-width: 1163px) {
		width: 1000px;
	}
}

.heading {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #2e3c40;
    text-align: center;

    @media only screen and (min-width: 700px) {
        font-size: 24px;
    }
}

.form {
    width: 500px;
    padding-bottom: 24px;

    button {
        margin-top: 24px;
    }
}

.twoFields {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 5%;
}