.container {
	width: 100vw;
	min-height: 600px;
	background-color: #fff;
	padding-top: 36px;
	margin-bottom: 16px;

	@media only screen and (min-width: 500px) {
		width: 86vw;
	}

	@media only screen and (min-width: 1163px) {
		width: 1000px;
	}

	[class="title"] {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 8px;
	}

	[class="content"] {
		font-size: 16px;
		margin-bottom: 8px;
		line-height: 1.5;
	}

	[class="highlight"] {
		font-weight: bold;
		margin-bottom: 8px;
	}

	[class="answer"] {
		font-size: 16px;
		margin-bottom: 8px;
		line-height: 1.5;
	}
}

.heading {
	font-size: 20px;
	font-weight: bold;
	color: #2e3c40;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 24px;
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list {
	width: 500px;

	li {
		margin-bottom: 24px;
	}
}